*.pyc
__pycache__/
*.py[cod]
*.sqlite3
.env
.vscode/
postgresql/
Nodejs/
venv/
classroom/logs/*.log
*.log
LMS_face_service/dataset/*
LMS_face_service/final_dataset/*
LMS_face_service/training_data/*
LMS_face_service/models/*
*.h5
node_modules/
package.json